---
import type { Service } from '@/types/sections/service-section.types';
import Description from '@/web/components/description.astro';
import LinkButton from '@/web/components/link-button.astro';
import Thumbnail from '@/web/components/thumbnail.astro';
import Timestamp from '@/web/components/timestamp.astro';
import Typography from '@/web/components/typography.astro';

export interface Props extends Service {}

const { year, reviews, organizing } = Astro.props;
---

<div class="flex flex-col gap-3">
  <div class="flex w-full justify-between gap-2">
    <div class="flex gap-4">
      <div class="flex flex-col">
        <Typography variant="item-title">{year}</Typography>
        {reviews && <Description content={reviews} />}
        {organizing && <Description content={organizing} />}
      </div>
    </div>
  </div>
</div>
