---
import '../styles/collapsible.css';

export interface Props {
  relatedTo: string;
}

const { relatedTo } = Astro.props;
---

<div class="collapsible-container">
  <div class="flex flex-col gap-6 content" id={`collapsibleContent-${relatedTo}`}>
    <slot /> <!-- Content passed into the component -->
  </div>
  <div id={`collapsibleFade-${relatedTo}`} class="fade"></div>
  <button 
    id={`collapsibleToggleButton-${relatedTo}`} 
    class="collapsibleToggleButtonClass" 
    data-relatedtovalue={relatedTo}
  >
    <svg 
      xmlns="http://www.w3.org/2000/svg" 
      class="icon" 
      viewBox="0 0 24 24" 
      fill="none" 
      stroke="currentColor" 
      stroke-width="2" 
      stroke-linecap="round" 
      stroke-linejoin="round"
    >
      <polyline points="6 9 12 15 18 9" />
    </svg>
  </button>
</div>
